@import url(styles.css);

body{
    background-color: #D9925F;
}
.container{
    display: flex;
    flex-direction: column;
}

.botao-nav{
    width: 100%;
}
.comprovante-box{
    max-width: 450px;
    height: 30rem;
    box-shadow: 8px 8px 0px 0px #888888;
    margin: 5rem auto;
    background-color: antiquewhite;
    padding: 1.5rem;
}

span{
    font-style: italic;
}

.botao-nav {
    margin-bottom: 10px;
    margin-top: 10px; /* Adicione margem superior para separar do comprovante-box */
    text-align: center; /* Centralize horizontalmente */
  }

  .botao-nav button {
    padding: 10px 20px; /* Adicione um espaçamento interno ao botão */
    font-size: 16px; /* Altere o tamanho da fonte do botão conforme necessário */
    background-color: bisque; /* Adicione uma cor de fundo ao botão */
    color: black; /* Altere a cor do texto do botão */
    border: none; /* Remova a borda do botão */
    border-radius: 4px; /* Adicione bordas arredondadas ao botão */
    cursor: pointer; /* Altere o cursor para indicar que é clicável */
    transition: transform 0.3s ease;
  }

  button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }

 