@import "todos.css";


.carousel-container{
    height: 70vh;
    display: flex;
    align-items: top;
}

.LMLS{
    height: 15vh;
    display: flex;
    align-items:end;
    text-align: center;
    justify-content: center;
    width: 90vw;
    margin: auto;
}

.news-card{
    height: 80vh;
    width:  90%;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #9F6B46;
    border-radius:.5rem;
    margin: auto;
    display: flex;
    align-items: center;
}

.book-pile{
    height: 70%;
}

.owl-carousel{
    z-index: -1;
    position: relative !important;
}


@media screen and (max-width:750px){

    .news-card{
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .book-pile{
        height: 40vw;
    }

    
}




