* { 
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    box-sizing: border-box;
}

:root{
    --color-laranja: #D96C1E;
    --color-bege: #9F6B46;
    --color-marrom-claro: #8B4513;
    --color-salmao: #D9925F;
    --color-marrom-escuro: #592C0C;
}



